& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {
        body {
            font-family: 'montBold', sans-serif;
            background-color: #ffffff;
        }
        .drawer {
            position: right;
        }
        .more {
            text-align: center;
            align-items: center;
            }
        .phone {
            margin: 0 0 .5rem 0;
            width: 70%;
            max-width: 300px;
        }
        .jumbotron {
            display: flex;
            align-items: center;
            background-size: cover;
            background-color: #0a8e84;
            h2 {
                font-size: 2em;
                font-weight: 700;
                color: #fff;
            }
            p {
                font-size: 1.25em;
                font-weight: 400;
                color: #fff;
            }
            .container {
                margin: 1em 1em 1em 1em;
            }
        }
         .more {
             img {
                margin: 0 0 .5rem 0;
                width: 100%;
            }
        }
        .btn {
            border-radius: 3px;
            border: 2px solid #636977;
            color: #636977;
            text-shadow: none;
            background-color: #ffffff;
            text-align: center;
            align-items: center;
        }
        .jbtn {
            border-radius: 3px;
            border:2px solid #fff;
            color: #fff;
            background-color: #0a8e84;
        }
    }
}
